* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #262626;
}

li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.navbar {
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.list {
    padding-right: 41%;
    padding-left: 31%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.sidebar {
    background-color: #262626;
    height: 100%;
    width: 140px;
    position: fixed;
}

.buttons { 
   padding-left:30px;
   padding-top: 100px; 
}
#sign-up-btn {
    cursor: pointer;
}
#sign-in-btn {
    cursor: pointer;
}

.basic-grid {
    display: grid;
    padding-top: 0px;
    padding-left: 140px;
    gap: 1rem;
    grid-template-columns: repeat(12, minmax(240px,1fr));
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-auto-rows: 300px;

}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
}
